<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuhan.dao.BelogsDao">

    <select id="list" resultType="Belongs">
        select id,title,icon,api_id from belongs;
    </select>
    
    <select id="findById" resultType="Belongs">
        select id,title,icon,api_id from belongs where id =#{id};
    </select>

</mapper>