<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuhan.dao.PrefectureImgDao">
    <select id="findByType" resultType="PrefectureImg">
        select  id,name,img_url,type from prefecture_img where type = #{param1};
    </select>

</mapper>