<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuhan.dao.BannerDao">

    <select id="list" resultType="Banner">
        select id,bannerimg,jum_url from banner;
    </select>

</mapper>
